.right {
  right: 50%;
  border-radius: 1%;
}

.left {
  left: 50%;
  border-radius: 1%;
}

.second {
  background: #edf2f7;
}

.custom_text_color {
  color: rgba(214, 226, 243, 0.7);
}

.custom_border_color {
  border-color: rgba(115, 125, 130, 0.4);
}

.custom_background_color_second {
  background-color: rgba(115, 125, 130, 0.4);
}

.hover_button_color {
  background-color: #292c34;
}

.itemIcon {
  border-radius: 50%;
  border: solid 2px rgba(115, 125, 130, 0.4);
  background: #1c1c1f;
}

.custom_background_color {
  background-color: #1c1c1f;
}
