@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown Styles */
/* Global */

.markdown {
  margin-right: 0px;
}

.markdown h1 {
  padding-bottom: 0.2em;
  margin-bottom: 1.1rem;
  margin-top: 2.3rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
  position: relative;
  border-bottom: 1px solid rgba(92, 147, 187, 0.17);
}

.markdown h2 {
  margin-top: 2.3rem;
  margin-bottom: 1.1rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.markdown h3 {
  margin-top: 2.3rem;
  margin-bottom: 1.1rem;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.markdown p {
  font-size: 0.95rem;
  line-height: 1.6rem;
  margin-bottom: 1.1rem;
}

.markdown br {
  margin-bottom: 1em;
}

.markdown :not(pre) > code {
  @apply bg-indigo-50 p-1 font-semibold text-gray-600 rounded-lg;
}

.markdown pre {
  font-size: 0.8rem;
}

/* 404 style */
.gradient {
  background-image: linear-gradient(135deg, #684ca0 35%, #1c4ca0 100%);
}
